* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/*Флекс контейнер и флекс элементы*/
.container {
  display: flex; /*flex-контейнер ведет себя как блочный элемент, занимая всю ширину экрана. inline-flex-контейнер подстроиться под размер контента*/
  justify-content: center;
  align-items: stretch;
  flex-direction: column; /*разворот основной оси на 90%, теперь она распологается вертикально */

  border: 10px solid rgb(37, 173, 32);
}

.item-level1-turquoise-1 {
  background-color: #f4f9fe;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center; /*выравнивание по главной оси*/
  padding: 3% 0 3% 0;
}

.item-level1-turquoise-2 {
  background-color: #f4f9fe;
  padding: 2em;
}

.item-level1-white-1 {
  background-color: #ffffff;
  padding-top: 3em;
}

.item-level1-white-2 {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  padding: 3% 0 3% 0;
}
.item-level2 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 10% 1% 10%;
}
.item-level2-header {
  margin: 0 10% 1% 10%;
}
.item-level3 {
  background-color: #f4f9fe;
  margin: 5px;
  flex: 1;
  bottom: 0;
  right: 0;
  border-radius: 1em;
  display: flex;
  /* position: relative; */
}
.item-level4-img {
  align-self: flex-end;
  flex-grow: 0;
}

.item-level4-text {
  align-self: center;
  flex-grow: 1;
  font-size: medium;
  /* position: relative; */
  line-height: 3em;
  left: 2.5em;
}
img {
  border-radius: 1em;
}

/*Таблица*/
table {
  width: 100%;
  border-collapse: collapse;
  overflow: hidden;
  border-radius: 5px;
}

th {
  background-color: #2b658c;
  color: #ffffff;
  padding: 5px;
}

tr:nth-child(even) {
  background-color: #ffffff;
}

tr {
  line-height: 2em;
}
.right {
  text-align: right;
  padding: 0 20px 0 0;
}

.center {
  text-align: center;
}

.left {
  text-align: left;
  padding: 0 0 0 20px;
}
