* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.flex-container {
  border: 20px solid #7f00ff;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items:flex-start;
  gap: 1em;
  padding: 0 10% 0 10%;
  margin: 5% 0 0 0;

}

.flex-container-item
{
  display: flex;
  border: 10px solid #00ff2a;
  flex-wrap: wrap;
  justify-content: center;
}

.flex-item {
  background-color: #f4f9fe;
  border-radius: 5px;
}

.table-item
{
  align-self: stretch;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead{
  background-color: #2b658c;
}

.right{
  text-align: right;
}

.center{
  text-align: center;
}

.left{
  text-align: left;
}