* {
  border: 0;
  margin: 0;
  padding: 0;
}

.section1 {
  background-color: #f4f9fe;
}

.section1,
.section2 {
  width: 100%;
  padding-left: 20%;
  padding-right: 20%;
}

table {
  border-collapse: collapse;
}
.left {
  text-align: center;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}
th {
  background-color: #2b658c;
  padding: 10px;
}

.parent-div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.child-div {
  background-color: #f4f9fe;
  width: max-content;
  height: max-content;
  border-radius: 5px;
}
