@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

* {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* border: 5px solid red; */
}
.top,
.footer {
  height: 50px;
  width: 100%;
  background-color: #f4f9fe;
  /* border: 5px solid rgb(23, 0, 128); */
}

.item-h-t-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  width: 80%;
  /* border: 5px solid rgb(23, 0, 128); */
}

.header {
  width: 100%;
  font-size: 40px;
  margin-bottom: 30px;
  /* border: 5px solid gray;*/
}

.tiles {
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  height: 700px;
  /* border: 5px solid gray; */
}

.tile {
  height: 165px;
  width: 500px;

  display: flex;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  background-color: #f4f9fe;

  /* border: 5px solid rgb(124, 8, 190); */
}

.tile-item-text {
  position: absolute;
  top: 10px;
  left: 20px;
  height: 200px;
  width: 400px;
  font-size: 23px;
  line-height: 28px;
}

.tile-item-img {
  position: absolute;
  bottom: 0;
  right: -30px;
  background-repeat: no-repeat;
  background-position: 100% 100%;
  width: 200px;
  height: 200px;
}

.img-truck {
  background-image: url(/Task4/IMG/Truck.png);
  background-size: 170px;
}

.img-pills {
  background-image: url(/Task4/IMG/Pills.png);
  background-size: 290px;
}

.img-vegetables {
  background-image: url(/Task4/IMG/Vegetables.png);
  background-size: 220px;
}

.img-tools {
  background-image: url(/Task4/IMG/Tools.png);
  background-size: 190px;
}

.img-futuristicTruck {
  background-image: url(/Task4/IMG/FuturisticTruck.png);
  background-size: 165px;
}
